*{
    background-color: #19BD9C;
}

.abtText{
    font-size: 44px;
}
.star{
    position: relative;
}

.star::after{
    content: "";
    width: 100px;
    height: 4px;
    background-color: white !important;
    border-radius: 5px;
   
    position: absolute;
    top: 50%;
    left:60px;
    transform: translateY(-50%);

  }
  .star::before{
    content: "";
    width: 100px;
    height: 4px;
    background-color: white !important;
    border-radius: 5px;
  
    position: absolute;
    right: 60px;
    top: 50%;
    transform: translateY(-50%);
  
  }

  .info{
      font-size: 20px;
      line-height: 30px;
      font-weight: 500;
  }